# Python Bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
.venv/

# IDE-specific files
.idea/

# PyCharm specific
*.iml

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables file
.env

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
